<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" >
  <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
  <link rel="icon" href="/images/favicon.ico">
  <title>Codebreaker</title>
</head>
<body>
<div class="wrapper" style="width: 30%">
  <form method="post" class="form" action="/guess">
    <h1>Codebreaker</h1>
  <h5 style="color: tomato">Welcome <%= name_player %></h5>
    <div class="form__field">
      <input type="code" name="player_code" placeholder="<%= INPUT_CONDITION %>" style="text-align: center"
             pattern="^[1-6]{<%= size_code %>}$" maxlength="<%= size_code %>" required/>
      <span class="form__error"><%= INPUT_CONDITION %></span>
    </div>
    <input class="btn btn-success" type="submit" value="G u e s s">
  </form>
    <form method="post" class="form" action="/hint">
      <div class="input-group mb-3">
        <div class="input-group-append">
          <input class="btn btn-warning" type="submit" value="H i n t" style="width: 100px">
        </div>
        <input type="text" class="form-control" value="<%= hint %>" style="width: auto"
               placeholder="You can use <%= Game::COUNT_HINT %> hint" disabled>
        <input type="text" class="form-control" value="<%= count_hint %>" style="text-align: center" disabled>
      </div>
      <h4 style="color: orangered">You used <%= attempts_count %> attempts</h4>
    </form>
  <% if result_of_step.any? %>
    <div class="form">
      <h5 style="color: #1873b9">Attempts:</h5>
      <table class="table table-borderless" style="font-family:sans-serif; font-size: 18px;color: #bc1db8">
        <tbody>
        <tr> <% result_of_step.each_with_index do |value,index| %> </tr>
            <% color = COLOR_TABLE_ROWS[index]%>
            <td class="<%=color%>"><%= index+1 %> </td>
            <td class="<%=color%>"><%= value[:player_code] %></td>
            <td class="<%=color%>"><% value[:result].each do |result| %>
                <%if result=='+' then %><span class="badge badge-success"><%=result%></span>
                <%elsif result=='-' then %><span class="badge badge-warning"><%=result%></span>
                <%elsif result=='' then %><span class="badge badge-info">_</span>
              <% end %>
              <% end %>
            </td>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  <a class="btn btn-info" style="margin-top: 10px" href="/" role="button">Exit the game</a>
</div>
</body>
</html>